@import url('https://googleapis.com');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-height: clamp(4rem, 10vh, 10vh);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  overflow: hidden;  
}

.scroll-container {
  margin-top: var(--navbar-height);
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgb(12, 19, 61) transparent;
}

.scroll-container::-webkit-scrollbar {
  width: 10px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;     /* removes the track background */
}

.scroll-container::-webkit-scrollbar-thumb {
  background: rgb(19, 29, 56);
  border-radius: 8px;
}

.scroll-container::-webkit-scrollbar-button {
  display: none;               /* removes the arrow buttons */
}

/*INTERACTIVE BACKGROUND*/

.BG{
    width: auto;
    height: auto;
    min-height: 50vh;

    background-color: hsl(224, 19%, 57%);
    color: black;
}

/* #region HOME PAGE CONTENT*/

.home-content{
    display: grid;
    grid-template-areas:
    ". button" 
    "name button"          
    "roles button"           
    "desc button"
    ". button";
    grid-template-columns: 30vw 1fr;
    grid-template-rows: auto max-content max-content max-content 40%;
    height: 90vh;
    width: auto;
    padding-top: 15vh;
    padding-left: 10vw; 
    padding-right: 10vw; 
    padding-bottom: 20vh;
}

.home-content .title-text{
    color: white;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.home-content .title-img{
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 1fr;
    width: 1fr;
    padding-bottom: 10vh;
    padding-left: 10vw;
}

.home-content .title-img img{
    width: clamp(16rem, 20vw, 20vw);
    height: clamp(16rem, 20vw, 20vw);
}

.home-content #title-name{
    grid-area: name;
    display: flex; 
    color: white; 

    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(3.25rem, 2.5vw, 5rem);
}

.home-content #title-role{
    grid-area: roles;
    display: flex;
    color: white;

    padding-bottom: .5rem;

    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(2.25rem, 2vw, 4rem);
}

.home-content #title-desc{
    grid-area: desc;
    display: flex;
    color: white;

    padding-top: .5rem;

    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(1rem, 1vw, 1.25rem);
}

/* #endregion */

/*ABOUT CONTENT*/
.about-content{
    display: grid; 
    grid-template-areas: 
    "title ";
    height: 100vh; 
    width: auto;
    padding-top: 15vh;
    padding-left: 10vw; 
    padding-right: 10vw; 
    padding-bottom: 20vh;
}

/* #region NAVBAR ITEMS*/

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: var(--navbar-height);
    gap: 3vw; 
    margin: 0px;
    padding: 1vw; 
    padding-top: 1.5vw;
    padding-left: 5vw;

    background-color: hsl(224, 57%, 9%);
    color: lightblue;
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);

    list-style: none;
}

.drag-anywhere{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: right;
    padding-right: 10vw;
}

.drag-anywhere h3{
    user-select: none;
    color: rgb(201, 216, 233);
    font-family: 'Space Mono', sans-serif;
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
}

.navbar a{
    user-select: none;
    text-decoration: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}

/* #endregion */